<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>http://carddownload.longxianghaotian.com:10080/ipawebdownload/jsqp.ipa</string>
		<key>displayImageURL</key>
		<string>http://carddownload.longxianghaotian.com:10080/ipawebdownload/57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>http://carddownload.longxianghaotian.com:10080/ipawebdownload/512x512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.lxht.jsqp</key>
		<string>jiashengqipai</string>
	</dict>
	<key>signingCertificate</key>
	<string>55A9F091F4ABD8AACE996DBB8BC0FF30D63B57AA</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>VYXVS83DDV</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
